# Quiz Pekan - 3

Dataset-dataset berikut ini menunjukkan persentase fat, protein, dan food yang dikonsumsi dari setiap jenis makanan yang terdaftar. Beberapa bagian akhir dataset juga mencakup persentase obesitas(Obesity), kurang gizi(Undernourished), dan kasus COVID-19 yang Terkonfirmasi(Confirmed)/Kematian(Deaths)/Sembuh(Recovered)/Aktif(Active).

(Catatan: Semua data memiliki unit '%' (persen) kecuali Populasi, unit persen tersebut dihitung berdasarkan jumlah populasi).

Link Download:

[Food_Supply_Quantity_kg_Data.csv](https://drive.google.com/uc?export=download&id=117XKO9dYBNrrAYIma9AgYYqvotzeIr_Q)

[Protein_Supply_Quantity_Data.csv](https://drive.google.com/uc?export=download&id=16fpG2AOUyu3vFHGspSGYogoUrgMvv9Vr)

[Fat_Supply_Quantity_Data.csv](https://drive.google.com/uc?export=download&id=1kRrSdrOdq2oPtr_Wn3Zonp395-pW2a-t)

[Supply_Food_Data_Descriptions.csv](https://drive.google.com/uc?export=download&id=1rM8_kRL4mQ9JYsilWowJKuPOYUcGUdWc)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import Semua Data
df_food = pd.read_csv('Food_Supply_Quantity_kg_Data.csv')
df_protein = pd.read_csv('Protein_Supply_Quantity_Data.csv')
df_fat = pd.read_csv('Fat_Supply_Quantity_Data.csv')
df_category = pd.read_csv('Supply_Food_Data_Descriptions.csv')

---

# Soal 1 : Apakah harapan kalian saat mengikuti kelas Python Datascience dasar?

Harapan saya saya bisa lebih mnegerti tentang data science dan membutuhkan sertifikat untuk dimasukan ke cv

# Soal 2: Memisahkan kolom pada supply dataset antara kategori makanan dan bukan makanan

Teman-teman diminta untuk menampilkan list kolom-kolom pada supply DataFrame dengan ketentuan sebagai berikut:

*   all columns: list yang berisikan semua kolom pada supply DataFrame
*   supply columns: list yang berisikan semua kolom pada supply DataFrame berdasarkan kolom 'Categories' pada DataFrame df_category
*   non-supply columns: list yang berisikan semua kolom non-supply pada supply DataFrame

In [5]:
# Example
all_columns = df_food.columns.tolist()
print(f'All Columns : {all_columns} \n\n')
supply_columns= df_category['Categories'].tolist()

# Code here
print('Supply Columns :',supply_columns,'\n\n')
non_supply_columns= [i for i  in all_columns if i not in supply_columns]
print('Non Supply Columns :',non_supply_columns)

All Columns : ['Country', 'Alcoholic Beverages', 'Animal fats', 'Animal Products', 'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables', 'Vegetal Products', 'Obesity', 'Undernourished', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population', 'Unit (all except Population)']


Supply Columns : ['Alcoholic Beverages', 'Animal fats', 'Animal Products', 'Aquatic Products, Other', 'Cereals - Excluding Beer', 'Eggs', 'Fish, Seafood', 'Fruits - Excluding Wine', 'Meat', 'Milk - Excluding Butter', 'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices', 'Starchy Roots', 'Stimulants', 'Sugar & Sweeteners', 'Sugar Crops', 'Treenuts', 'Vegetable Oils', 'Vegetables', 'Vegetal Products']


Non Supply Columns : ['Country', 'Obesity', 'Undernourished', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'Population', 'Unit (all except Population)']

Expected Output:

![Expected Output:](https://drive.google.com/uc?id=1L6exgfQO0VSjyhxuF4cDwvNdvPQf0xLo)

---

# Soal 3: Menggabungkan DataFrame

Gabungkan semua supply DataFrame dengan ketentuan tidak ada kolom dengan nama yang sama. Untuk kolom-kolom non-supply seperti tersebut di atas, memiliki nilai yang sama untuk setiap DataFrame, sehingga cukup ambil dari salah satu DataFrame. Sedangkan untuk kolom-kolom supply seperti tersebut di atas, setiap DataFrame (df_food, df_protein, df_fat) memiliki nilai yang berbeda, sehingga teman-teman perlu menambahkan suffix berdasarkan jenis supply DataFrame-nya, misalkan untuk kolom 'eggs' teman teman harus menambahkan suffix sehingga DataFrame gabungan memiliki kolom 'eggs_food', 'eggs_protein', dan 'eggs_fat'. Untuk mendapatkan gambaran lebih jelas, silahkan lihat pada expected output.

List kolom-kolom DataFrame hasil gabungan adalah sebagai berikut:


```
 ['Country', 'Alcoholic Beverages_food', 'Animal fats_food',
  'Animal Products_food', 'Aquatic Products, Other_food',
  'Cereals - Excluding Beer_food', 'Eggs_food', 'Fish, Seafood_food',
  'Fruits - Excluding Wine_food', 'Meat_food',
  'Milk - Excluding Butter_food', 'Miscellaneous_food', 'Offals_food',
  'Oilcrops_food', 'Pulses_food', 'Spices_food', 'Starchy Roots_food',
  'Stimulants_food', 'Sugar & Sweeteners_food', 'Sugar Crops_food',
  'Treenuts_food', 'Vegetable Oils_food', 'Vegetables_food',
  'Vegetal Products_food', 'Alcoholic Beverages_protein',
  'Animal fats_protein', 'Animal Products_protein',
  'Aquatic Products, Other_protein', 'Cereals - Excluding Beer_protein',
  'Eggs_protein', 'Fish, Seafood_protein',
  'Fruits - Excluding Wine_protein', 'Meat_protein',
  'Milk - Excluding Butter_protein', 'Miscellaneous_protein',
  'Offals_protein', 'Oilcrops_protein', 'Pulses_protein',
  'Spices_protein', 'Starchy Roots_protein', 'Stimulants_protein',
  'Sugar & Sweeteners_protein', 'Sugar Crops_protein', 'Treenuts_protein',
  'Vegetable Oils_protein', 'Vegetables_protein',
  'Vegetal Products_protein', 'Alcoholic Beverages_fat',
  'Animal fats_fat', 'Animal Products_fat', 'Aquatic Products, Other_fat',
  'Cereals - Excluding Beer_fat', 'Eggs_fat', 'Fish, Seafood_fat',
  'Fruits - Excluding Wine_fat', 'Meat_fat',
  'Milk - Excluding Butter_fat', 'Miscellaneous_fat', 'Offals_fat',
  'Oilcrops_fat', 'Pulses_fat', 'Spices_fat', 'Starchy Roots_fat',
  'Stimulants_fat', 'Sugar & Sweeteners_fat', 'Sugar Crops_fat',
  'Treenuts_fat', 'Vegetable Oils_fat', 'Vegetables_fat',
  'Vegetal Products_fat', 'Obesity', 'Undernourished', 'Confirmed',
  'Deaths', 'Recovered', 'Active', 'Population',
  'Unit (all except Population)']
```

In [7]:
# Hint
df_non_supply_new = df_food[non_supply_columns]
df_food_new = df_food[['Country']+supply_columns]
df_protein_new = df_protein[['Country']+supply_columns]
df_fat_new = df_fat[['Country']+supply_columns]

In [9]:
# Selanjutnya gabungkan dataset pada hint di atas dengan menambahkan suffix berbeda untuk setiap supply dataset menggunakan pd.merge
# Code here
df1 = pd.merge(df_food_new,df_protein_new, on='Country', suffixes=('_food', '_protein'), how='outer')

df_fatsuf = df_fat_new.add_suffix('_fat')
df_fatsuf = df_fatsuf.rename(index=str, columns={'Country_fat':'Country'})

df2 = pd.merge(df1,df_fatsuf, on='Country', how='outer')
df_tot = pd.merge(df2,df_non_supply_new, on='Country', how='inner')
df_tot

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetables_fat,Vegetal Products_fat,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0014,0.1973,9.4341,0.0000,24.8097,0.2099,0.0350,5.3495,1.2020,...,0.3593,28.3684,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,1.6719,0.1357,18.7684,0.0000,5.7817,0.5815,0.2126,6.7861,1.8845,...,0.6503,17.9998,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.2711,0.0282,9.6334,0.0000,13.6816,0.5277,0.2416,6.3801,1.1305,...,0.5145,35.5857,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,5.8087,0.0560,4.9278,0.0000,9.1085,0.0587,1.7707,6.0005,2.0571,...,0.1231,34.7010,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,3.5764,0.0087,16.6613,0.0000,5.9960,0.2274,4.1489,10.7451,5.6888,...,0.2469,22.2995,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),2.5952,0.0403,14.7565,0.0000,12.9253,0.3389,0.9456,7.6460,3.8328,...,0.1851,33.6855,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,1.4591,0.1640,8.5765,0.0042,16.8740,0.3077,2.6392,5.9029,4.4382,...,0.6373,16.7548,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0364,0.0446,5.7874,0.0000,27.2077,0.2579,0.5240,5.1344,2.7871,...,0.1667,37.4535,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,5.7360,0.0829,6.0197,0.0000,21.1938,0.3399,1.6924,1.0183,1.8427,...,0.1567,40.3939,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,4.0552,0.0755,8.1489,0.0000,22.6240,0.2678,0.5518,2.2000,2.6142,...,0.0789,39.6248,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

Expected output (kolom tidak semua ditampilkan):

![Expected Output:](https://drive.google.com/uc?id=1W9dSQu4SVlWV2SkW4ZNYnwF60tDWMGEx)

---

# Soal 4: Sorting dan Filtering

Dari DataFrame hasil penggabungan pada Soal 2 (atau gunakan salah satu supply DataFrame karena kolom nilai non-supply memiliki nilai yang sama), kemudian urutkan data (sort) berdasarkan kolom kematian ('Deaths') dari yang terbesar. Setelah itu lakukan perintah berikut:

- Print data hasil sorting
- Urutan ke berapakah Indonesia berdasarkan tingkat kematian akibat COVID-19 setelah diurutkan dari yang terbesar? Gunakan code mendapatkan nilainya! 
- Berapa persen dari populasi jumlah kematian akibat COVID-19 di Indonesia? Hitung jumlah orang yang meninggal! Gunakan code mendapatkan nilainya! #hint: jumlah orang yang meninggal = populasi * kematian --> jangan lupa ada yang masih dalam persen

In [10]:
# Urutkan (sorting) dan print hasil sorting
# Code here
df_tot.sort_values(by=['Deaths'], ascending=False)

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetables_fat,Vegetal Products_fat,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
14,Belgium,5.3730,0.8559,17.7279,0.0010,6.6704,0.6487,1.1325,4.1623,3.2370,...,0.2982,23.2622,24.5,<2.5,6.286322,0.185428,0.000000,6.100894,11515000.0,%
138,Slovenia,4.9933,1.1248,18.9196,0.0005,7.6345,0.5376,0.6515,6.4367,4.1610,...,0.2697,23.3878,22.5,<2.5,8.235901,0.171755,7.312934,0.751213,2103000.0,%
159,United Kingdom,5.2632,0.2754,18.8798,0.0006,6.5412,0.6210,1.0911,4.9551,4.4181,...,0.2127,24.1332,29.5,<2.5,5.868483,0.167220,0.015161,5.686102,67160000.0,%
38,Czechia,9.8498,0.8945,17.8065,0.0006,5.6937,0.4964,0.5355,3.3962,4.7618,...,0.1729,24.8333,28.5,<2.5,9.612841,0.159845,8.555328,0.897667,10716000.0,%
74,Italy,3.1892,0.2834,19.0329,0.0005,8.5417,0.6247,1.5816,6.0207,4.2963,...,0.2277,28.1306,22.9,<2.5,4.353685,0.150927,3.494529,0.708229,60296000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Kiribati,0.2970,0.0486,8.8958,0.0000,8.2747,0.1640,6.1065,5.8907,2.3856,...,0.1397,39.4325,45.6,2.7,NaN,NaN,NaN,NaN,125000.0,%
81,"Korea, North",0.8981,0.0010,3.3933,0.0010,17.9378,0.4668,1.1568,6.1383,1.3872,...,1.0357,38.5160,7.1,47.8,NaN,NaN,NaN,NaN,25779000.0,%
105,Myanmar,0.2195,0.1751,13.5188,0.0034,16.7608,0.4613,4.0424,4.0287,4.9753,...,0.2938,23.9530,5.7,10.6,NaN,NaN,NaN,NaN,54704000.0,%
109,New Caledonia,5.0363,0.0821,11.7818,0.0804,8.5840,0.7494,2.0361,5.5855,5.8687,...,0.1887,27.7282,NaN,7.1,NaN,NaN,NaN,NaN,295000.0,%
155,Turkmenistan,0.5038,0.3373,16.0611,0.0000,14.8029,0.5139,0.2137,4.1441,4.3767,...,0.4459,17.3085,17.5,5.4,NaN,NaN,NaN,NaN,6031000.0,%

In [11]:
# Urutan ke berapakah Indonesia
# Code here
df_indo = df_tot[df_tot.Country== 'Indonesia']

df_indo

,Country,Alcoholic Beverages_food,Animal fats_food,Animal Products_food,"Aquatic Products, Other_food",Cereals - Excluding Beer_food,Eggs_food,"Fish, Seafood_food",Fruits - Excluding Wine_food,Meat_food,...,Vegetables_fat,Vegetal Products_fat,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
69,Indonesia,0.0794,0.0309,6.2575,0.0009,24.3918,0.4911,3.9386,5.5134,1.0316,...,0.2711,40.8368,6.9,8.3,0.4221,0.011553,0.34562,0.064927,271739000.0,%

In [13]:
df_indo = df_indo.set_index('Country')
#df_indo

In [14]:
# Berapa persen jumlah kematian di Indonesia? Berapa Jumlahnya?
# Code here
meninggal_persen = df_indo['Deaths']['Indonesia']

meninggal = meninggal_persen/100 * df_indo['Population']['Indonesia']

print(f'Jumlah yang meninggal di Indonesia ada {round(meninggal_persen, 10)}% dari jumlah populasi.') # 10 digit
print(f'Jumlah yang meninggal di Indonesia ada {round(meninggal)} orang.')

Jumlah yang meninggal di Indonesia ada 0.0115526295% dari jumlah populasi.
Jumlah yang meninggal di Indonesia ada 31393 orang.

---

# Soal 5: Binning, Grouping, dan Aggregating data

Lakukan binning pada kolom terkonfirmasi (Confirmed) COVID-19 dari DataFrame df_fat menjadi 5 bagian (q=5). Teman-teman dapat menggunakan fungsi qcut untuk melakukan bininng ini. Masukan data hasil binning tersebut menjadi kolom baru pada DataFrame df_fat. Beri nama kolom tersebut dengan 'Confirmed Category'. Berikan label 'Sangat Tidak Banyak', 'Tidak Banyak', 'Sedang', 'Cukup Banyak', 'Sangat Banyak'.

Baca dokumentasi berikut untuk fungsi qcut : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

Kemudian lakukan perintah-perintah berikut:
- Buat DataFrame baru yang berisi data grouping berdasarkan kolom hasil bininng atau kolom 'Confirmed Category'. 
- Lakukan grouping hanya pada kolom 'Obesity', 'Meat', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products', 'Vegetal Products' saja.
- Kemudian aggregate dengan fungsi mean. (df_baru = df_fat.groupby(...).mean())
- Save DataFrame hasil binning, grouping, dan aggregating ke dalam file csv.

In [15]:
# Lakukan binning pada kolom terkonfirmasi untuk DataFrame df_fat
labels = ['Sangat Tidak Banyak', 'Tidak Banyak', 'Sedang', 'Cukup Banyak', 'Sangat Banyak']

# Code here
df_fat['Confirmed Category'] = pd.qcut(x=df_fat['Confirmed'],q=5,labels=labels)
df_fat

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population),Confirmed Category
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%,Tidak Banyak
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%,Cukup Banyak
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%,Tidak Banyak
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%,Sangat Tidak Banyak
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%,Tidak Banyak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%,Tidak Banyak
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%,Sangat Tidak Banyak
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%,Sangat Tidak Banyak
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%,Tidak Banyak
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%,Tidak Banyak

In [16]:
# Lakukan grouping pada kolom hasil binning ('Confirmed Category'), kemudian aggregate menggunakan fungsi mean
cols = ['Obesity', 'Meat', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products', 'Vegetal Products']

# Code here
groupby_confirmed = df_fat.groupby('Confirmed Category')[cols].mean()
groupby_confirmed

,Obesity,Meat,Fruits - Excluding Wine,"Fish, Seafood",Animal Products,Vegetal Products
Confirmed Category,,,,,,
Sangat Tidak Banyak,12.156250,9.748312,0.411312,0.967479,16.916003,33.084894
Tidak Banyak,12.136364,6.856964,0.865030,0.960824,15.073282,34.926876
Sedang,19.243750,9.743353,0.518112,0.800272,20.315250,29.684997
Cukup Banyak,24.884848,10.131742,0.542139,0.853700,24.875552,25.124115
Sangat Banyak,24.903030,10.415409,0.411294,0.558924,26.164791,23.835294

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1KimznnyhVz2CaRVwtCkWDMfczIvP-P8T)

In [ ]:
# Save DataFrame hasil binning, grouping, dan aggregating

groupby_confirmed.to_csv('groupby_confirmed.csv')

---

# Soal 6: Bar plot

Gunakan data grouping pada soal sebelumnya untuk melakukan visualisasi. Jika kalian tidak dapat menyelesaikan soal tersebut, maka silahkan [download](https://drive.google.com/uc?export=download&id=1e6-3xVA6awAForzzMhMMOTe0GS2pUTrM) data berikut yang merupakan hasil dari data grouping soal 4.

Normalisasi data hasil grouping tersebut dengan rumus min-max normalisasi seperti rumus berikut ini. Kemudian buatlah grouping Visualization dengan berplot, visualisasikan data column 'Obesity', 'Fruits - Excluding Wine', 'Fish, Seafood', 'Animal Products' dan 'Vegetal Products'.

\begin{equation*}
 X_{norm} = \dfrac{X - X_{min}}{X_{max} - X_{min}}
\end{equation*}

In [ ]:
# Gunakan DataFrame hasil grouping soal 4 atau read data hasil download jika tidak dapat mengerjakan soal 4
df = groupby_confirmed

# Atau

df = pd.read_csv('groupby_confirmed.csv').set_index('Confirmed Category')

# Lihat df dan pastikan sesuai dengan expected output pada soal 4
display(df)

In [ ]:
# Lakukan normalisasi pada DataFrame df
# Code here
df_norm = 

# Lihat df_norm dan pastikan sesuai dengan expected output
display(df_norm)

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1reoUU5XG76vVNsI9ZC158W40HKqonR11)

In [ ]:
# Buat bar plot dari df_norm sesuai dengan expected output
# Code here


# Untuk menambahkan label di atas barplot lihat https://matplotlib.org/3.1.1/gallery/lines_bars_and_markers/barchart.html

# fig.legend()
# plt.show()

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1d8HxaC8QPAZob7kI9mmURc0QoRGOGII8)

---

# Soal 7: Seaborn Scatter plot

Buatlah visualisasi scatter plot (perpaduan seaborn dan matplotlib) dari df_food antara Supply Sayuran ('Vegetal Products') dan persentase terkonfirmasi ('Confirmed') COVID-19 sesuai expected output dengan ketentuan berikut:


* Gunakan kolom persentase kematian ('Death') sebagai ukuran pointnya kalikan suatu angka yang cukup besar agar terlihat.
    
* Gunakan kolom persentase produk hewani ('Animal Products') sebagai warna point, berikan cmap 'plasma'.

* Untuk seaborn gunakan regplot dengan argumen scatter=False dan color = 'black'

In [ ]:
fig, ax = plt.subplots(figsize=(18, 12))

# Code here

plt.show()

Expected output:

![Expected Output:](https://drive.google.com/uc?id=1UFW1jynUtPs2983dmSZHSu6bh9HXhXA9)