<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [12]:
#string

def Jumlah_kaki_ayam (kaki):
    """Berapakah Jumlah kaki ayam?"""   
    return kaki == 2
print("apakah kaki ayam berjumlah 3?", Jumlah_kaki_ayam(3))

#ineteger
print(3>2)
print(2<1)

#boolean
foo = True
bar = False
  
print(foo)
print(bar)

apakah kaki ayam berjumlah 3? False
True
False
True
False

Soal 2: Boolean Comparison

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [13]:
#and
print(3<2 and 1<2)
#or
print(3<2 or 1<2)
#not
print(not(3 == 3))

False
True
False

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'Besar' jika ruangan adalah 'Kamar' dan ukuran lebih dari 12, kemudian mem-print 'Sedang' jika ruangan adalah 'Kamar' dan ukuran lebih dari 6 dan memprint 'Kecil' jika ruangan adalah 'Kamar' dan ukuran ruangan lebih kecil dan sama dengan 6.

In [14]:
ruangan = 'Kamar'
size = 20

if(size > 12):
    print('Besar')
elif(size > 6 and size <= 12) :
    print('Sedang')
elif(size <= 6):
    print('Kecil')

Besar

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [15]:
# Buat fungsi
def ganjil_genap(angka):
    if(angka % 2 == 1):
        print("aneh")
    elif(angka % 2 == 0 and angka >=2 and angka <=5 ):
        print("Tidak Aneh")
    elif(angka % 2 == 0 and angka >=6 and angka <=20 ):
        print("aneh")
    elif(angka % 2 == 0 and angka >20 ):
        print("tidak aneh")
angka = int(input("Masukan Angka:"))
ganjil_genap(angka)

Masukan Angka:3
aneh

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

In [16]:
# Tulis Kode\
#w

#whilw
i = 1
while i < 6:
  print(i)
  i += 1
#for
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

1
2
3
4
5
apple
banana
cherry

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang merima satu input nilai numeric
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [20]:
a = 10

def fungsi_while(a):
    while a  != 0:
        print(a)
        if(a > 0):
            a = a-1
fungsi_while(a)

10
9
8
7
6
5
4
3
2
1

Expected Output:

10

9

8

7

6

5

4

3

2

1

<h2>Soal 7: For Loop</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [26]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for i, j in enumerate(obj_list):
    j = j * i
    print(i, ':', j )

0 : 0
1 : 16
2 : 22
3 : 30
4 : 20

Expected Output:

0

16

22

30

20