In [3]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1       Kimia     76     perempuan   12B
1         2     Geologi     72     laki-laki   12B
2         3      Fisika     61     laki-laki   12B
3         4      Fisika     90     laki-laki   12A
4         5  Matematika     22     perempuan   12A

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [18]:
# code here
 df.loc[:, ['nilai', 'kelas']]

IndentationError: unexpected indent (<ipython-input-18-ff115b016a6b>, line 2)

In [ ]:
df.iloc[5:10, [1,2]]

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# code here
matpel1 = df.pelajaran == 'Ekonomi'
matpel2 = df.pelajaran == 'Fisika'

df[(matpel1) | (matpel2)]

In [ ]:
matpel1 = df.pelajaran == 'Kimia'
nilai1 = df.nilai > 50
df[(matpel1) & (nilai1)]

In [ ]:
nilai = df.nilai > 70
gender = df['jenis-kelamin'] == 'perempuan'
kelas = df.kelas == '12C'

df[ (gender) & (nilai) & (kelas)]

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here
def normalisasi(x):
    return (x - x.min()) / (x.max() -x.min())

df[['nilai']].apply(normalisasi)